body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: blue;
}

main {
  padding: 30px;
}

hr {
  width: 50%;
  margin-left: 0;
}

/*font basics -- styling was alerted to make font in html file for readable; changed the font-fanily and 
link to Google webfonts; increased font size, changed font-weight from bold to normal*/


main {
  padding: 60px;
}

.animal {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  margin-bottom: 50px;
  background-image: url(http://lorempixel.com/200/200/animals/);
  background-repeat: no-repeat;
  background-size: 100%;
}

.animals {
  border: 1px solid black;
  width: 400px;
  height: 400px;
  background-image: url(http://lorempixel.com/200/200/animals/);
  background-size: 50%;
  background-repeat: repeat;
}

/*background images basics -- .animal class is a container div that is 400px by 400px; the animal image is intended 
to take up 100% of the width of the container without repeating; i could've also changed background-size to cover
to achieve the same effect; the .animals class is intended to show the image four times - 2x2*/